<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>nusi-engine-demo</title>
  <script>
    window.actionApiPrefix = '<%= htmlWebpackPlugin.options.actionApiPrefix %>';
  </script>
</head>

<body>
  <div id='app'></div>
</body>

</html>
